main {
  padding: 0 200px;
}
#contact_modal:focus-within button {
  outline: thick double rosybrown;
}
#contact_modal {
  display: none; /* Assurez-vous que la modal est cachée par défaut */
  position: fixed; /* Position fixe pour qu'elle reste au-dessus de la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour assombrir la page */
  z-index: 1001; /* Niveau de z-index élevé pour être au-dessus de la page */
  overflow: auto; /* Permettre le défilement si le contenu dépasse */
  padding-top: 50px; /* Espacement en haut pour laisser de l'espace pour les éléments de la page sous la modal */
}
/* Style de base pour le formulaire */
.form-group {
  margin-bottom: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}


textarea {
  height: 100px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal_form > * {
  margin-bottom: 20px; /* Vous pouvez ajuster cette valeur selon vos besoins */
}





.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Centrer la modal verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur de la modal */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
  display: flex;
  flex-direction:row;
    width: 100%;
}



.modal header img {
  cursor: pointer;
  width: 30px; /* Ajustez la taille selon vos besoins */
  height: auto

}
/* Pour les petits écrans */
@media screen and (max-width: 600px) {
  .modal header {
      display: flex;
      flex-direction:row;
      
  }

  .modal header h2 {
      margin-top: auto; /* Place le texte en bas de l'en-tête */
  }
}





.modal header h2 {
    font-size: 35px;
    font-weight: normal;
    
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

  
.photograph-header img {
    max-width: 50%;
    float: right; /* La propriété float permet de faire flotter l'élément à droite */
    margin-left: 20px; /* Pour créer un espace entre l'image et le texte */
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    width: 100px;
    
  }
  .photograph-details {
    max-width: 50%;
    margin-right: auto;
  }
  
  /* Pour le reste du contenu de photograph-details */
  .photograph-header h1 {
    color: #D3573C;
    font-size: 2.4em;
    font-weight: 400;
    margin:0;


  }
  
  .photograph-details p {
    font-size: 16px;
    margin: 5px 0;
    margin-bottom: 20px;
   
  }
 
  
  
  .photograph-header {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
  }
  
 
  
  .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 1;
}

  .details-paragraph{
    color: #901c1c;
    font-size: 25px;
    margin: 0;
}
/* MEDIA FILTER */
.main_content_filter {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
}

h2 {
  font-weight: 100;
  font-size: clamp(1.6rem, 3vw, 1.8rem);
}

.filter_section {
  position: relative;
  height: 100%;
}

#sort-by-dropdown {
  z-index: 10;
  position: absolute;
  

}

.tri {
  align-items: center;
  display: flex;
  padding: 30px;
}

/* Style général pour la galerie */
#photographer_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  grid-gap: 30px;
  padding: 20px;
}

.rotate {
  transform: rotate(180deg);
}

/* MEDIA FILTER */
.dropdown_content {
  max-height: 0;
  background-color: #901C1C;
  overflow: hidden; /* Pour cacher le contenu dépassant de la hauteur maximale */
  transition: max-height 0.3s ease; /* Ajout d'une transition pour une animation fluide */
}

.dropdown_content.show {
  max-height: 200px; /* Hauteur maximale du menu déroulant */
}

.dropdown_content li button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 1px;
  background-color: #fff;
}

.btn_drop,
.dropdown_content li button {
  height: 50px;
  padding: 15px;
  font-size: clamp(1.4rem, 1vw, 2rem);
  color: #fff;
}

.btn_drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  border-radius: 5px;
  background-color: #901c1c;
}

.dropdown_content li button {
  width: 100%;
  text-align: left;
}

.dropdown_content li button:focus{
  background-color: #901c1c;
  color: #000;
}

/* Ajout du style pour la rotation du chevron */
.rotate-chevron {
  transform: rotate(180deg);
}

.dropdown_content.show {
  display: block;
}

.dropdown_content li {
  position: relative;
  width: 150px;
}

/* Reset des styles par défaut */
#sort-by-dropdown *, 
#sort-by-dropdown ::before, 
#sort-by-dropdown ::after {
  margin: 0;
  padding-left: 2px;
  border-radius: 5px;
  
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none; 
  border: none;
}


/* Style pour les images et vidéos */
#photographer_gallery img,
#photographer_gallery video {
  width:400px;
  height:400px;
  border-radius: 5px;
  object-fit: cover;
  max-height: 200px; /* Limiter la hauteur des médias */
}
#photographer_gallery img:focus,
#photographer_gallery video:focus {
  outline: thick double rosybrown;
}



/* Style pour les vidéos spécifiquement */
#photographer_gallery video {
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Style pour les légendes sous les médias */
.media-caption {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
.tarif-container {
  margin-top: 20px;
  background: #db8876;
  border-radius: .3125rem;
    bottom: 0;
    display: flex;
    font-size: 1.5em;
    font-weight: 500;
    height: 4.375rem;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0 2.1875rem;
    position: fixed;
    right: 2.5rem;
    width: 18rem;
}

.tarif-text {
  /* Styles CSS pour le paragraphe */
  font-size: 16px;
  padding-left: 120px;
  /* Autres styles selon vos besoins */
}

.tarif-value {
  font-size: 18px;
  color: #333; /* Couleur du texte */
  font-weight: bold; /* Texte en gras */
}

.tarif-label {
  font-size: 16px;
  color: #666; /* Couleur du texte */
}




.media-container p {
  margin-top: 5px; /* Espacement entre l'image/vidéo et son titre */
  font-size: 14px; /* Taille de la police du titre */
  color: #333; /* Couleur du texte */
}


/* Style pour le titre et le bouton like */

.media-title{
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #901c1c;
}



.like-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  
}
.heart-icon {
  
  text-shadow: 0 0 0 #901c1c;
}




.like-button:hover {
  transform: scale(1.2); /* Effet d'agrandissement au survol */
}
.tarif-likes-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style pour la Lightbox */
.lightbox {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#FAFAFA;
    z-index: 1000; /* Assure que la Lightbox soit au-dessus de tout le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style pour l'image en plein écran */
.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
}

/* Style pour le bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:#000;
  color:#000;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Style pour l'élément de média dans la galerie */
.media-element {
  cursor: pointer; /* Afficher le curseur pointer lors du survol */
}

/* Style pour le conteneur d'image ou de vidéo dans la galerie */
.media-element img,
.media-element video {
  max-width: 100%;
  height: auto;
}

.close-button {
  font-size: 40px; 
  line-height: 1; 
}

/* Style pour les médias en plein écran */
.fullscreen-media {
  max-width: 90%; /* Limite la largeur du média */
  max-height: 90%; /* Limite la hauteur du média */
  display: block;
  margin: auto;
}



/* Style pour le bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color:#901c1c;
  border: none;
  cursor: pointer;
  font-size: 70px;
  line-height: 1;
  z-index: 1001; /* Assure que le bouton de fermeture soit au-dessus de la Lightbox */
}
.media-container {
  margin: 20px;
  cursor: pointer;
}

.media-container img,
.media-container video {
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.media-container:hover img,
.media-container:hover video {
  transform: scale(1.05);
}

/* Styles des boutons de navigation */
.nav-button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000; /* Assure que les boutons sont au-dessus du contenu de la lightbox */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem; /* Définissez la hauteur pour rendre le bouton carré */
  background-color: transparent;
  color: #901C1C;
  font-size: 3rem;
  cursor: pointer;
  border: none; /* Supprimez le bord */
  z-index: 1001;
}

.nav-button.left {
  left: 0; /* Position du bouton gauche */
}

.nav-button.right {
  right: 0; /* Position du bouton droit */
}
/* Pour les écrans jusqu'à 768 pixels de largeur */
@media only screen and (max-width: 768px) {
  #photographer_gallery {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-evenly;
  }
  
  #photographer_gallery img,
  #photographer_gallery video {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px; 
  }
  .photograph-header {
    padding: 30px; 
  }
  
  .photograph-header img {
    max-width: 80px;
    margin-bottom: 20px;
  }
  
  .photograph-details {
    max-width: 100%; 
  }
  form label {
    font-size: 20px; 
  }
  
  form input {
    height: 35px;
    font-size: 16px; 
  }
}

/* Pour les écrans jusqu'à 480 pixels de largeur */
@media only screen and (max-width: 480px) {
  #photographer_gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  #photographer_gallery img,
  #photographer_gallery video {
    width: 150px; 
    height: auto;
    margin-bottom: 20px; 
  }
  .photograph-header {
    padding: 20px; 
  }
  
  .photograph-header img {
    max-width: 60px; 
  }
  form label {
    font-size: 18px; 
  }
  
  form input {
    height: 30px;
    font-size: 14px;
  }
}
.hidden-date {
  display: none;
}

