#contact_modal {
  display: none; /* Assurez-vous que la modal est cachée par défaut */
  position: fixed; /* Position fixe pour qu'elle reste au-dessus de la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour assombrir la page */
  z-index: 1001; /* Niveau de z-index élevé pour être au-dessus de la page */
  overflow: auto; /* Permettre le défilement si le contenu dépasse */
  padding-top: 50px; /* Espacement en haut pour laisser de l'espace pour les éléments de la page sous la modal */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Centrer la modal verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur de la modal */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}


.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}



.photograph-header img {
    max-width: 50%;
    float: right; /* La propriété float permet de faire flotter l'élément à droite */
    margin-left: 20px; /* Pour créer un espace entre l'image et le texte */
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    width: 100px;
    
  }
  .photograph-details {
    max-width: 50%;
    margin-right: auto;
  }
  
  /* Pour le reste du contenu de photograph-details */
  .photograph-header h1 {
    color: #D3573C;
    font-size: 2.4em;
    font-weight: 400;
    margin:0;


  }
  
  .photograph-details p {
    font-size: 16px;
    margin: 5px 0;
    margin-bottom: 20px;
   
  }
 
  
  
  .photograph-header {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
  }
  
 
  
  .contact_button {
    
    
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
  }
  .details-paragraph{
    color: #901c1c;
    font-size: 25px;
    margin: 0;
}
#sort-by-dropdown {
  background-color: #901C1C;
  color: white;;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 30px;
  overflow: hidden;
  padding: 17px 45px 17px 30px;
  width: 160px;

}
.tri{
align-items: center;
display: flex;
padding: 30px;

}
/* Style général pour la galerie */
#photographer_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  grid-gap: 20px;
  padding: 20px;
}



/* Style pour les images et vidéos */
#photographer_gallery img,
#photographer_gallery video {
  width: 100%;
  height: auto;
  border-radius: .3125rem;
  object-fit: cover;
  max-height: 200px; /* Limiter la hauteur des médias */
}




/* Style pour les vidéos spécifiquement */
#photographer_gallery video {
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Style pour les légendes sous les médias */
.media-caption {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
.tarif-container {
  margin-top: 20px;
  background: #db8876;
  border-radius: .3125rem;
    bottom: 0;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    height: 4.375rem;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0 2.1875rem;
    position: fixed;
    right: 2.5rem;
    width: 18rem;
}

.tarif-text {
  /* Styles CSS pour le paragraphe */
  font-size: 16px;
  padding-left: 150px;
  /* Autres styles selon vos besoins */
}

.tarif-value {
  font-size: 18px;
  color: #333; /* Couleur du texte */
  font-weight: bold; /* Texte en gras */
}

.tarif-label {
  font-size: 16px;
  color: #666; /* Couleur du texte */
}




.media-container p {
  margin-top: 5px; /* Espacement entre l'image/vidéo et son titre */
  font-size: 14px; /* Taille de la police du titre */
  color: #333; /* Couleur du texte */
}


/* Style pour le titre et le bouton like */

.media-title{
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #901c1c;
}



.like-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000; /* Couleur rouge pour le cœur */
}

.like-button:hover {
  transform: scale(1.2); /* Effet d'agrandissement au survol */
}
.tarif-likes-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heart-symbol span{
  color: black; /* Couleur du cœur */
}
/* Style pour la Lightbox */
.lightbox {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fond semi-transparent */
    z-index: 1000; /* Assure que la Lightbox soit au-dessus de tout le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style pour l'image en plein écran */
.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
}

/* Style pour le bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Style pour l'élément de média dans la galerie */
.media-element {
  cursor: pointer; /* Afficher le curseur pointer lors du survol */
}

/* Style pour le conteneur d'image ou de vidéo dans la galerie */
.media-element img,
.media-element video {
  max-width: 100%;
  height: auto;
}
.close-button {
  font-size: 40px; 
  line-height: 1; 
}

/* Style pour les médias en plein écran */
.fullscreen-media {
  max-width: 90%; /* Limite la largeur du média */
  max-height: 90%; /* Limite la hauteur du média */
  display: block;
  margin: auto;
}

/* Style pour les boutons de navigation */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.nav-button.left {
  left: 20px;
}

.nav-button.right {
  right: 20px;
}


/* Style pour le bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  z-index: 1001; /* Assure que le bouton de fermeture soit au-dessus de la Lightbox */
}
.media-container {
  margin: 20px;
  cursor: pointer;
}

.media-container img,
.media-container video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.media-container:hover img,
.media-container:hover video {
  transform: scale(1.05);
}
